127.0.0.1	localhost
127.0.1.1	ubuntu.members.linode.com	ubuntu
{{ host_ipv4 }}	{{ host_domain }}	{{ host_hostname }}
{% if host_ipv6 %}
{{ host_ipv6 }}	{{ host_domain }}	{{ host_hostname }}
{% endif %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
